@mixin placeholder {
    color: #fff;
    font-family: 'Montserrat';
}

& {
    margin-top: 70%;

    input {
        display: block;
        width: 85%;
        margin: px(25) auto;
        border: 0;
        padding: px(35) px(120);
        font-size: px(26);
        // border-radius: px(46);
        border-radius: 20px / 25px;
        background-color: rgba(#fff, .1);
        background-size: px(50);
        background-repeat: no-repeat;
        background-position: px(20);

            &::-webkit-input-placeholder {
                @include placeholder;
            }

            &::-moz-placeholder { /* Firefox 18- */
               @include placeholder;
            }

            &::-moz-placeholder {  /* Firefox 19+ */
               @include placeholder;
            }

            &:-ms-input-placeholder {
               @include placeholder;
            }

            &[name='login'] {
                background-image: url('../images/form/username.png');
            }

            &[name='password'] {
                background-image: url('../images/form/password.png');
            }

            &[type='submit'] {
                background-color: #f96332;
                @include placeholder;
            }
    }
}
