& {
    // height: px(1138);
    height: 100vh;
    margin: 0;
    background-image: url('../images/bg-component/bg-phone-portrait.png'), linear-gradient(to top, #000 0%, #ff6a3a 100%);
    background-size: cover;
}
