& {
    display: block;
    margin: px(40);
    color: #a7a7a7;
    font-family: 'Montserrat';
    font-size: px(22);
    text-decoration: none;

    &.left {
        float: left;
    }

    &.right {
        float: right;
    }

}
